In [53]:
import preprocessor as p
import pandas as pd
import regex as re
import string
import pandas as pd
import time
import os

In [ ]:
!pip install gdown

In [ ]:
!pip install sastrawi

In [ ]:
!pip install tweet-preprocessor

## **Konversi Ke CSV Dan Mengambil Kolom Teks**

In [5]:
dataset_list = os.listdir('raw')

In [9]:
for name in dataset_list:
    if name != '.ipynb_checkpoints':
        print('Dataset :', name)

        df = pd.read_excel(f'raw/{name}')
        df = df[['Text']]

        path = name.split('.')
        df.to_csv(f'processed_text_only/{path[0]}.csv', index=False)

Dataset : @Nicho_Silalahi_user_tweets.xlsx
Dataset : @uttazt__user_tweets.xlsx
Dataset : @bayu_joo_user_tweets.xlsx
Dataset : @dwikimic_user_tweets.xlsx
Dataset : @Mdy_Asmara1701_user_tweets.xlsx
Dataset : @cursedkidd_user_tweets.xlsx
Dataset : @pinotski_user_tweets.xlsx
Dataset : @iirman__user_tweets.xlsx
Dataset : @jek____user_tweets.xlsx
Dataset : @ayubsr_user_tweets.xlsx
Dataset : @ekowboy2_user_tweets.xlsx
Dataset : @andihidayat_user_tweets.xlsx
Dataset : @ainunrozi_user_tweets.xlsx
Dataset : @handokotjung_user_tweets.xlsx
Dataset : @hotradero_user_tweets.xlsx
Dataset : @radenrauf_user_tweets.xlsx

## **Preprocessing Data**

In [33]:
kata_baku = pd.read_csv('https://raw.githubusercontent.com/ShinyQ/One-Click-Sentiment_BE/main/app/dataset/Kamu-Alay.csv')
kata_baku = kata_baku.set_index("kataAlay")["kataBaik"].to_dict()

stop_words = list(pd.read_csv('https://raw.githubusercontent.com/ShinyQ/E-Wallet-Sentiment-Analysis_IFest-Unpad-2021/main/dataset/processed/stopwords_id_satya.txt', header=None)[0])

In [98]:
def cleansing(text):   
    
    text = p.clean(text)
    
    # Mengubah setiap kata menjadi lowercase
    text =  text.lower() 

    # Menghapus Link Dengan Pattern http/https dan www
    text = re.sub(r'http\S+', '', text)
    text = re.sub('(@\w+|#\w+)', '', text)

    # Menghapus Tag HTML
    text = re.sub('<.*?>', '', text)

    # Menghapus Tanda Baca Seperti Titik Dan Koma
    text = text.translate(str.maketrans(' ', ' ', string.punctuation))

    # Menghapus Karakter Selain Huruf a-z dan A-Z
    text = re.sub('[^a-zA-Z]', ' ', text)

    # Mengganti baris baru (enter) dengan spasi
    text = re.sub("\n", " ", text)

    # Menghapus Karakter Berulang (Contoh: Horeeee!!!! menjadi Hore!)
    text = re.sub(r'(\w)(\1{2,})', r"\1", text)

    # Menghapus 1 Karakter Terpisah
    text = re.sub(r"\b[a-zA-Z]\b", "", text)

    # Menghapus Spasi Yang Lebih Dari Satu
    text = re.sub('(s{2,})', ' ', text)
    
    # Menghapus kata yang mengandung judul topik dan kata yang terdapat pada stopwords indonesia
    temp_text_split = []
    text_split = text.split(' ')

    for i in range(len(text_split)):
        if text_split[i] not in stop_words:
            if text_split[i] in kata_baku:
                 text_split[i] = kata_baku[text_split[i]]

            temp_text_split.append(str(text_split[i]))
    
    temp_text_split = list(set(temp_text_split))  
    text = ' '.join(temp_text_split)
       
    # Mengembalikan Hasil Preprocessing Text
    return str.lstrip(text)

In [99]:
dataset_list = os.listdir('processed_text_only')

In [101]:
for name in dataset_list:
    if name != '.ipynb_checkpoints':
        print('Dataset :', name)

        df = pd.read_csv(f'processed_text_only/{name}')
        
        df['Text'] = df['Text'].apply(cleansing)
        df = df[df['Text'].str.split().str.len().gt(2)]
        df.to_csv(f'processed_clean/{name}', index=False)
        
        print(f"Total Data : {len(df)} \n")

Dataset : @bayu_joo_user_tweets.csv
Total Data : 2503

Dataset : @cursedkidd_user_tweets.csv
Total Data : 1637

Dataset : @iirman__user_tweets.csv
Total Data : 2581

Dataset : @dwikimic_user_tweets.csv
Total Data : 2044

Dataset : @uttazt__user_tweets.csv
Total Data : 1861

Dataset : @ainunrozi_user_tweets.csv
Total Data : 2423

Dataset : @pinotski_user_tweets.csv
Total Data : 2494

Dataset : @hotradero_user_tweets.csv
Total Data : 2741

Dataset : @Nicho_Silalahi_user_tweets.csv
Total Data : 2334

Dataset : @handokotjung_user_tweets.csv
Total Data : 2220

Dataset : @radenrauf_user_tweets.csv
Total Data : 1841

Dataset : @ayubsr_user_tweets.csv
Total Data : 1166

Dataset : @andihidayat_user_tweets.csv
Total Data : 2872

Dataset : @ekowboy2_user_tweets.csv
Total Data : 1107

Dataset : @jek____user_tweets.csv
Total Data : 1686

Dataset : @Mdy_Asmara1701_user_tweets.csv
Total Data : 2600

In [ ]:
!gdown --id 1kcC3rB8ylGN5tlDH-RCkSIk7mBQ_rN-h

In [93]:
df = pd.read_csv('Personality Dataset.csv')
df.sample(5)

                                                   Text        Traits
495         jangan sungkan mari berkunjung ke toko saya  extraversion
1073  telah terjadi pembullyan kepada penyebar berit...   neuroticism
584                    ini kenapa komplain saya ditutup   neuroticism
290               mampus ga tayang lagi film di bioskop   neuroticism
332                                 buset pada jualan     neuroticism

In [94]:
df['Text'] = df['Text'].apply(cleansing)
df = df[df['Text'].str.split().str.len().gt(2)]

print("Total Dataset Latih :", len(df))

Total Dataset Latih : 983

In [97]:
df.to_csv('Personality Dataset Clean.csv', index=False)